html {
  box-sizing: border-box;
  height: 100vh;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}


body {
  font-family: 'Lato', sans-serif;
  margin: 0;
  min-height: 100vh;
  font-size: 18px;
  display: grid;
  grid-template-rows: 50px 1fr;
  grid-template-areas: 
    "nav"
    "main";
  color: #091822;
  --border-color: #1F1A38;
  --light-color: #f0eae7;
  --color: #091822;
  --bg1: #7B506F;
  --bg2: #c49eb8;
  --bg3: #DBCDC6;
  --bg4: #e0c2d8;
  --button-hover: #a57597;
  /* font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; */
}

/* --bg1: #7B506F;
--bg2: #e0b8d4;
--bg3: #DBCDC6;
--bg4: #f0dfeb; */


/* Past color scheme:
background: linear-gradient(90deg, #8ca3b3, #CAE9FF 20%, #CAE9FF 80%, #8ca3b3);
--border-color: #1B4965;
  --color: #091822;
  --bg1: #BEE9E8;
  --bg2: #62B6CB;
  --bg3:  */

body > nav {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: nav;
  background-color: var(--bg1);
}

#nav-box{
  width: 700px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#nav-box a {
  color: var(--light-color)
}

#hidey{
  margin: 15px;
  display: none;
  font-weight: bold;
  color: var(--light-color)
}

body > main {
  background: linear-gradient(90deg, #bdb0aa, #DBCDC6 20%, #DBCDC6 80%, #bdb0aa);
  background-color: var(--bg3);

  padding: 0 20px 20px 20px;
  grid-area: main;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
}

.title{
  font-family: 'Arvo', serif;
}

input, textarea, select{
  border-style: solid;
  border-color: var(--border-color);
  border-width: 3px;
  padding: 4px;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  border-radius: 4px;
}

input.button{
  border-style: none;
  font-weight: bold;
  padding: 8px;
  color: var(--light-color);
  background-color: var(--bg1);
}

input.button:hover{
  background-color: var(--button-hover);
  color: var(--bg3);
  cursor: pointer;
}

a {
  color: var(--border-color);
  text-decoration: none;
  font-weight: bold;
}

a:hover{
  text-decoration: underline;
}

.filter-box{
  justify-content: center;
  padding: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.filter-card{
  margin: 10px;
  width: 200px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.list{
  width: 600px;
  border-style: solid;
  border-width: 6px;
  border-color: var(--border-color);
  display: grid;
  grid-template-rows: 1fr;
  border-radius: 5px;
  filter: drop-shadow(0px 4px 5px #918d9c);
}

.list div{
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 3px 10px;
}

.righty{
  margin-left: auto;
}

.pub{
  color: green;
}

.unpub{
  color: red;
}

.list div:nth-child(odd){
  background-color: var(--bg2);
}
.list div:nth-child(even){
  background-color: var(--bg4);
}

.thread-card {
  width: 600px;
  border-style: solid;
  border-width: 6px;
  border-color: var(--border-color);
  border-radius: 5px;
  display: grid;
  grid-template-columns: 165px auto;
  grid-template-rows: 40px auto;
  filter: drop-shadow(0px 4px 5px #918d9c);
}

.edit-card{
  width: 600px;
  display: grid;
  grid-template-columns: 165px 1fr 100px;
  border-style: solid;
  border-width: 3px;
}

.edit-card.pubbed{
  border-color: green;
}

.edit-card.unpubbed{
  border-color: red;
}

.icon-area{
  grid-row: 1 / 3;
  background-color: var(--bg1);
}

.icon {
  border-style: solid;
  border-width: 6px;
  border-color: var(--border-color);
  margin: 5px;
  border-radius: 100px;
  width: 150px;
  height: 150px;
}

.name{
  background-color: var(--bg2);
}

.content{
  padding: 2px;
  background-color: var(--bg4);
}

h3, h2, p{
  margin: 5px;
}

.button-style{
  border-radius: 4px;
  border-style: none;
  font-weight: bold;
  padding: 8px 12px 8px 8px;
  color: var(--light-color);
  background-color: var(--bg1);
}

.button-style:hover{
  background-color: var(--button-hover);
  color: var(--bg3);
  cursor: pointer;
}

.button-style:hover{
  text-decoration: none;
}

.glyph{
  font-size: 32px;
}

.subject{
  width: 600px;
  display: flex;
  align-items: center;
}

.about{
  max-width: 800px;
}

.about p{
  margin: 15px 10px;
}

.about h2{
  margin: 25px 0px 15px 0px;
}

@media only screen and (max-width: 700px) {
  body {
    grid-template-rows: 60px 1fr;
    transition: grid-template-rows 2s;
  }

  #hidey{
    display: block;
  }

  body > nav {
    align-items: flex-end;
  }

  #nav-box{
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    font-size: 24px;
    gap: 5px;
  }

  .list{
    width: 100%;
    border-style: solid;
  }

  .thread-card {
    width: 100%;
    grid-template-columns: 130px auto;
    grid-template-rows: 130px auto;
  }
  
  .icon-area{
    display: flex;
    justify-content: center;
  }

  .name{
    display: flex;
    align-items: center;
  }

  .subject {
    width: 100%;
  }

  .content{
    grid-column: 1/3;
    font-size: 1.1em;
  }

  h1 {
    font-size: 1.5em;
  }

  .icon {
    width: 115px;
    height: 115px;
  }

}