body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.thread-card {
  display: flex;
}

.thread-card.content{
  display: block;
}

.icon {
  border-radius: 75px;
  width: 150px;
}