<%- include('../partials/header') %> 

<h1 class="title"><%= title %></h1>

<div class="about">
  <h2 class="title">What is the Knowledge Filter?</h2>
  <p>Do you ever find that despite your experiences there are still bits of Knowledge that elude you? Do they follow you around, these gaps, invisible and yet present no matter where you look? Have you ever wished that there was a way to fill in these voids so that they will no longer be ruining what would be an otherwise pleasant day (perhaps you are drinking a nice cup of tea, for example)?</p>
  <p>Well worry no longer, the Knowledge Filter is here to help!</p>
  <h2 class="title">How does this work?</h2>
  <p>Simply pass along your burning Questions, and let the Knowledge Filter do the rest. Our Experts will examine that raw lump of inquiry and refine it, process it, dare we say FILTER it down to its barest essence of Knowledge. You may then return later to bask in the glow of their flawless efforts.</p>
  <h2 class="title">Can I change my name and avatar?</h2>
  <p>Why yes! Simply visit your Profile page.</p>
  <h2 class="title">How do the <i class="far fa-thumbs-up"></i> and <i class="far fa-heart"></i> icons work?</h2>
  <p>Hit the <i class="far fa-thumbs-up"></i> icon to 'like' a Question and help visitors find the most elucidating nuggets of Knowledge when looking over the list of entries.</p>
  <p>The <i class="far fa-heart"></i> icon, on the other hand, will allow you to 'favorite' the best of the best and revisit them at your leisure from your Profile page.</p>
  <h2 class="title">I submitted my question, but I don't see it in the list. What gives?</h2>
  <p>Filtering Knowledge is not an instantaneous process. It takes time to determine which of our Experts are best suited to tackle a Question, and for them to distle it into pure Knowledge. Have patience, perhaps visit us again later.</p>
  <h2 class="title">Why can't I respond to other people's questions?</h2>
  <p>While we do appreciate your spirit we feel it is best to leave answering Questions to our Experts. They have been through a rigorous vetting process and have received specialized training in Knowledge handling and safety.</p>
  <h2 class="title">Some Experts seem very familiar. What are they from?</h2>
  <p>Indeed, our Experts come from all corners of the globe! Not to mention time periods and mental paradigms (please don't ask how we do that, it is a proprietary technology). If you are curious where you may know them from, you can occasionally click on an Expert's avatar to find out more about them.</p>
</div> 


      
<%- include('../partials/footer') %> 