<%- include('../partials/header') %> 

<h1><%= title %></h1>

<form action="/questions" method="POST">
  Subject:<br>
  <input type="text" name="subject" required size="25"><br>
  <br>
  Question:<br>
  <textarea rows="3" name="content" required cols="26"></textarea><br>
  <br>
  <input type="submit">

</form>


      
<%- include('../partials/footer') %> 