<%- include('../partials/header') %> 

<h1><%= title %></h1>

<form action="/questions" method="POST">
  <label>Subject
    <input type="text" name="subject" required><br>
  </label>
  <label>Question
    <input type="text" name="content" required><br>
  </label>
  <input type="submit">

</form>


      
<%- include('../partials/footer') %> 